.footer_container{
    height: 530px;
    background-color: #000F2D;
}

.footer_phone, .footer_adress, .footer_email, .footer_follow, .footer_archito, .footer_allright{
    color: white;
}

.name_phone, .name_adress, .name_email, .follow{
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
}

.phone_number, .adress, .email_name{
    font-weight: lighter;
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 77px;
}

.footer_social{
    display: flex;
    gap: 38px;
}

.footer_block_v1{
    display: flex;
    padding: 50px 100px 50px 100px;
}

.footer_block_v11, .footer_block_v12{
    display: flex;
    flex-direction: column;
}

.footer_block_v12{
    margin-left: 200px;
}

.footer_logo{
    color: #2A68E7;
    font-weight: bold;
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 100px;
    margin: 0;
}

.archito_text{
    font-weight: lighter;
    font-size: 18px;
    line-height: 26px;
    margin-top: 150px;
}

.footer_archito{
    margin-left: 250px;
}

.footer_allright{
    font-size: 14px;
    line-height: 18px;
    font-weight: lighter;
    margin-top: -10px;
    margin-left: 100px;
}
