html {
    scroll-behavior: smooth;
  }

.info_block{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 120px;
    margin-bottom: 150px;
}

.info_discovered{
    color: black;
    font-size: 74px;
    font-weight: bold;
    line-height: 82px;
    letter-spacing: -2%;
    margin-bottom: 40px;
}

.info_block_tittle{
    margin-left: 100px;
    margin-right: 40px;
    width: 570px;
    height: 540px;
}

.info_tittle{
    color: black;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
}

.info_block_search{
    margin: 0;
    padding: 0;
    display: flex;
}

.input_text{
    border: none;
    color: black;
    height: 88px;
    width: 357px;
}

.btn_search{
    border: none;
    background-color: #004AE2;
    height: 94px;
    width: 320px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.info_block_picture{
    margin-top: 75px;
    display: flex;
    gap: 20px;
}

.info_services{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.info_services_block{
    margin-bottom: 150px;
    border-right: 2px solid #B3CCFF;
    width: 326px;
    height: 226px;
}

.info_more{
    padding-top: 40px;
    text-align: center;
}

.more_info{
    margin-top: -15px;
}

.more_infos{
    margin-top: 5px;
}

.about_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
}

.aboutus_block{
    display: flex;
    gap: 60px;
}

.about_block_name, .about_block_explorer{
    width: 670px;
    height: 760px;
}

.architecture_container{
    margin-top: 50px;
}

.arrow_aboutus, .arrow_aspects, .arrow_projects, .arrow_client, .arrow_news, .contactus_arrow{
    display: flex;
    gap: 16px;
    color: #004AE2;
    font-size: 24px;
}

.about_block_give{
    color: black;
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 140px;
}

.value{
    margin: 0;
    padding: 0;
    margin-bottom: 140px;
}

.about_block_explorer{
    margin-top: 30px;
}

.about_img{
    margin-bottom: 60px;
}

.about_text{
    color: black;
    font-size: 18px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.btn_explorer{
    margin-top: 30px;
    background-color: #004AE2;
    border: none;
    color: white;
    font-size: 20px;
    width: 205px;
    height: 60px;
    border-radius: 10px;
}

.btn_explorer1{
    margin-top: 30px;
    background-color: #004AE2;
    border: none;
    color: white;
    font-size: 20px;
    width: 205px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 116px;
}

.btn_explorer2{
    margin-top: 30px;
    background-color: #004AE2;
    border: none;
    color: white;
    font-size: 20px;
    width: 205px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: -50px;
}


.block_aspects{
    background-color: #EDF3FF;
    display: flex;
    margin-bottom: 100px;

}

.arrow_aspects{
    margin-top: 100px;
}

.social_container{
    margin-top: 300px;
    display: flex;
    gap: 30px;
}

.aspects_title{
    color: black;
    font-size: 54px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 40px;
}

.aspects_subtitle, .architecture_subtitle{
    color: black;
    font-size: 18px;
    margin-bottom: 60px;
}

.communication_container, .families_container, .quality_container{
    width: 300px;
    height: 365px;
    border-radius: 16px;
    padding: 40px 40px 0 40px;
    background-color: #fff;
}

.families_container{
    background-color: #004AE2;
}

.social_title{
    color: #00194B;
    font-size: 24px;
    margin-bottom: 32px;
}

.social_subtitle, .social_click{
    color: #00194B;
    font-size: 18px;
    text-decoration: none;
    line-height: 23px;
}

.social_subtitlev2{
    color: white;
    font-size: 18px;
    line-height: 23px;
}

.social_titlev2{
    color: white;
    font-size: 24px;
    margin-bottom: 32px;
}

.social_clickv2{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.aspects_container{
    margin-left: 80px;
    margin-right: 80px;
    min-width: 450px;
}

.projects_title, .architecture_title, .news_title, .contactus_title{
    width: auto;
    font-size: 54px;
    margin: 24px 230px 100px;
}

.arrow_projects, .arrow_news, .contactus_arrow, .contactus_text, .contactus_form{
    margin-left: 230px;
}

.projects_container_picture{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.lines{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.blue_line{
    border: 2px solid #004AE2;
    width: 250px;
    margin: 0;
    margin-left: 480px;
}

.bluewhite_line{
    border: 2px solid #CCDBF9;
    width: 750px;
    margin: 0;
}

.btn_picture{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 16px;
    margin-bottom: 200px;
}

.btn_prev{
    width: 140px;
    height: 55px;
    color: white;
    background-color: #004AE2;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.btn_next{
    width: 140px;
    height: 55px;
    color: #00194B;
    background-color: white;
    font-size: 18px;
    border: 1px solid #004AE2;
    border-radius: 8px;
}

.block_dream_v1, .block_dream_v2{
    width: 380px;
    height: 525px;
}

.oneline{
    display: flex;
    margin-left: 20px;
    font-size: 24px;
    font-weight:400;
    gap: 120px;
}

.dream_title{
    margin-top: 20px;
    margin-bottom: 25px;
}

.refresh_plus, .price_title{
    margin-top: -5px;
}

.street_title{
    font-size: 18px;
    font-weight:400;
    margin-bottom: 30px;
    margin-top: 0;
}

.price_title{
    color: #004AE2;
}

.name_price_product{
    margin-left: 20px;
}

.block_dreamone, .block_dreamtwo{
    display: flex;
    gap: 136px;
    justify-content: center;
    margin-bottom: 100px;
}

.architecture_subtitle{
    font-size: 24px;
    font-weight: lighter;
    margin-left: 240px;
    margin-top: -70px;
    line-height: 36px;
}

.architecture_block{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.architecture_partner{
    display: flex;
    gap: 32px;
}

.social_partner{
    display: flex;
    gap: 37.5px;
    margin-bottom: 162px;
}

.architecture_information{
    margin-left: 32px;
}

.FIO{
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    margin: 0;
}

.specialist{
    font-weight: normal;
    font-size: 18px;
    color: #004AE2;
}

.quote{
    font-weight: lighter;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
}

.testimonial{
    text-align: center;
    color: #000F2D;
    line-height: 62px;
    font-size: 54px;
    font-weight: bold;
    margin: 0;
}

.client_information{
    font-weight: lighter;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 60px;
}

.arrow_client{
    justify-content: center;
}

.client_lines{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blues{
    border: 1px solid #AAC3F5;
    width: 360px;
    margin: 0;
}

.blue{
    border: 2px solid #004AE2;
    width: 430px;
    margin: 0;
}

.founder_people, .design_director, .source_ds{
    display: flex;
    gap: 12px;
}

.name_text{
    color: #00194B;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
}

.work_name{
    color: #004AE2;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.group_work{
    display: flex;
    justify-content: center;
    gap: 142px;
    margin-top: 32px;
    margin-bottom: 200px;
}

.news_title{
    margin-top: -10px;
    margin-bottom: 100px;
}

.date_name{
    display: flex;
    gap: 157px;
    color: #000F2D;
    font-size: 16px;
}

.house_title{
    color: #004AE2;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    margin-top: 59px;
    margin-bottom: 24px;
}

.house_subtitle{
    color: #000F2D;
    font-size: 18px;
    line-height: 23px;
}

.house_menu{
    margin-left: 20px;
}

.house_block{
    display: flex;
}

.news_block_v1, .news_block_v2{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-bottom: 100px;
}

.btn_explore_up{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.contactus_text{
    font-size: 20px;
    color: #000F2D;
    line-height: 36px;
    font-weight: lighter;
}

.contactus_form{
    width: 760px;
    height: 620px;
    display: flex;
}

.input_name, .input_last_name, .input_email, .input_phone_number, .input_message{
    width: 760px;
    height: 55px;
    margin-bottom: 30px;
    border: 2px solid #E5EEFF;
    border-radius: 10px;
}

.btn_submit{
    margin-top: 30px;
    background-color: #004AE2;
    border: none;
    color: white;
    font-size: 20px;
    width: 760px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 116px;
}

.message_info{
    color: #1D191F;
    line-height: 36px;
    font-size: 24px;
}

.email_info{
    font-size: 38px;
    line-height: 62px;
    color: #1D191F;
    margin-bottom: 175px;
}

.block_contact_info{
    display: flex;
    gap: 140px;   
}

.contact_info_us{
    margin-top: -250px;
    margin-bottom: 140px;
}

.img_work_people{
    margin-left: -20px;
    margin-top: 130px;
}

.noacc{
   text-decoration: none;
   font-size: 14px;
   color: #424242; 
}

.btn_sign{
    color: #212121;
    background-color: white;
    border: 1px solid black;
    width: 115px;
    height: 30px;
}

.header_login{
    display: flex;
    justify-content: center;
    gap: 1200px;
    margin-top: 25px;
    margin-bottom: 140px;
}

.header_login_btn{
    display: flex;
    align-items: center;
    gap: 25px;
}

.login_title{
    color: black;
    font-size: 24px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: -0.5px;
    margin: 0;
}

.login_subtitle{
    font-weight: lighter;
    font-size: 13px;
    color: #616161;
    margin: 0;
}

.input_em, .inputpass{
    width: 645px;
    height: 48px;
    margin-bottom: 20px;
}

.input_login{
    width: 645px;
    margin-top: 70px;
}

.about_account_text{
    width: 645px;
    text-align: center;
}

.input_remember{
    display: flex;
    align-items: center;
    width: 653px;
    margin-bottom: 20px;
    
}

.checkbox_rem{
    width: 29px;
    height: 22px;
    
}

.fpass{
    margin-left: 365px;
    padding: 0;
    color: #616161;
    font-size: 13px;
}

.btn_login_blue{
    background-color: #4067EC;
    color: white;
    border: none;
    width: 653px;
    height: 48px;
}

.footer_right{
    text-align: center;
    margin-top: 250px;
}

.account_block{
    display: flex;
    justify-content: center;
}

.right_politic{
    color: #616161;
    font-size: 11px;
    letter-spacing: 0.7px;
}

.registration_title, .registration_subtitle{
    margin: 0;
    padding: 0;
}

.registration_titles{
    margin-bottom: 20px;
}

.registration_title{
    color: black;
    font-size: 25px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 10px;
}

.registration_subtitle{
    color: #616161;
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
}

.input_names{
    width: 240px;
    height: 48px;
    border: 1px solid #9E9E9E;
}

.registr_input{
    width: 500px;
}

.registration_email, .registration_password{
    width: 488px;
    height: 48px;
}

.input_names, .registration_email, .registration_password{
    margin-bottom: 10px;
}

.registr_lines{
    display: flex;
    align-items: center;
}

.red_line, .grey_line{
    width: 157px;
    margin: 0;
    margin-left: 5px;
} 

.red_line{
    border: 2px solid #D7353C;
}

.grey_line{
    border: 1px solid #BDBDBD;
}

.registration_passwoed_strength{
    display: flex;
    justify-content: end;
    color: #616161;
    font-size: 11px;
    font-weight: lighter;
}

.btn_registration_next{
    width: 100%;
    height: 50px;
    background-color: #4067EC;
    color: white;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: bold;
    border: none;
}

.politics_terms{
    color: #9E9E9E;
    font-weight: lighter;
    font-size: 11px;
    text-decoration: underline;
}

.politics_terms_hard{
    color: #424242;
}

.regitration_block{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.dreamone_container{
    margin-top: 75px;
}
